.ql-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #00000021 !important;

  display: flex;
  justify-content: center;
}

.ql-container {
  border: none !important;

  height: calc(100dvh - 205px);
}

.editor > .ql-container {
  padding: 30px;
  padding-top: 25px;
}

.viewer > .ql-container {
  padding: 45px;
  padding-bottom: 0px;
}

.ql-editor {
  padding: 0px;
}
