.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding: 40px 0px;
}

.SubWrapper {
  position: relative;
  max-width: 680px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  background-color: #ffffff;

  padding: 40px;

  border-radius: 12px;
}
