.wrapper {
  height: 100%;

  padding: 30px;

  display: flex;
}

.SubWrapper {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;

  background-color: #ffffff;

  padding: 40px;

  border-radius: 12px;
}
