.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 300px;

  padding: 20px 60px;
}

.sidebar-logo {
  font-size: 3rem;
  font-weight: 800;

  margin-bottom: 40px;
}

.nav-wrapper {
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.nav-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #2e2e2e;
}

.nav-item {
  font-size: 1.6rem;
  font-weight: 600;
  color: #777676;

  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item-active {
  font-size: 1.6rem;
  font-weight: 600;
  color: #777676;

  display: flex;
  align-items: center;
  gap: 10px;

  fill: tomato;
  color: tomato;
}

.nav-item:hover {
  fill: tomato;
  color: tomato;

  cursor: pointer;
}

.light-mode-wrapper {
  font-size: 1.6rem;
  font-weight: 600;
  color: #777676;

  display: flex;
  align-items: center;
  gap: 10px;
}
