.ql-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #00000021 !important;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ql-container {
  border: none !important;
}

.editor .ql-container {
  padding: 30px;
  padding-top: 25px;

  height: calc(100dvh - 325px) !important;

  @media screen and (max-width: 1024px) {
    height: calc(100dvh - 200px) !important;
  }

  @media screen and (max-width: 941px) {
    height: calc(100dvh - 230px) !important;
  }

  @media screen and (max-width: 498px) {
    height: calc(100dvh - 250px) !important;
  }

  @media screen and (max-width: 379px) {
    height: calc(100dvh - 270px) !important;
  }
}

.viewer .ql-container {
  padding: 30px;

  height: calc(100dvh - 265px) !important;

  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}

.card-viewer .ql-container {
  padding: 0px;
}

.card-viewer .ql-editor * {
  cursor: pointer;
}

.ql-editor {
  padding: 0px;
}

.ql-editor.ql-blank::before {
  padding-left: 16px !important;
}
