.ql-toolbar {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #00000021 !important;

  display: flex;
  justify-content: center;
}

.ql-container {
  border: none !important;
}

.editor .ql-container {
  padding: 30px;
  padding-top: 25px;

  height: calc(100vh - 205px) !important;

  @media (max-width: 720px) {
    height: calc(100vh - 255px) !important;
  }
}

.viewer .ql-container {
  padding: 45px;
  padding-bottom: 0px;

  height: calc(100vh - 205px) !important;

  @media (max-width: 720px) {
    height: calc(100vh - 255px) !important;
  }
}

.card-viewer .ql-container {
  padding: 0px;
}

.card-viewer .ql-editor * {
  cursor: pointer;
}

.ql-editor {
  padding: 0px;
}
