.mainpage-wrapper {
  display: flex;
  justify-content: space-between;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
  max-height: calc(100dvh - 144px);

  padding: 10px 10px;

  overflow: scroll;

  width: 65%;
}

.rank-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;

  width: 35%;
  height: fit-content;

  margin-top: 10px;
  padding: 20px;
  border-radius: 16px;

  overflow: hidden;
}

.rank-title {
  font-size: 2rem;
  font-weight: 700;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rank {
  font-size: 1.4rem;
  font-weight: 600;
}

.profile-image-wrapper {
  background-color: tomato;

  padding: 4px;

  border-radius: 50%;

  height: fit-content;
}

.username {
  font-size: 1.4rem;
  font-weight: 600;
}
