.mainpage-wrapper {
  display: flex;
  gap: 20px;

  max-width: 960px;

  padding: 10px 20px;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;

    max-height: calc(100dvh - 84px);
  }
}

.rank-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;

  height: fit-content;

  padding: 20px;
  border-radius: 16px;

  overflow: hidden;

  @media screen and (max-width: 1200px) {
    margin-right: 20px;
  }
}

.rank-title {
  font-size: 2rem;
  font-weight: 700;
}

.user-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rank {
  font-size: 1.4rem;
  font-weight: 600;
}

.feed-title {
  font-size: 1.4rem;
  font-weight: 600;

  min-width: 180px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media screen and (max-width: 720px) {
    max-width: 100%;
  }
}
